body {
    color: #93E9BE;
    font-size: 20px;
    font-weight: 600;
    font-family: comic-sans;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

.bg-red {
    background-color: #d2bf37;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

.align {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;


}

#about {

    border: solid .5px darkgrey;
    background-color: #3B5998;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;


}

.about2 {
    height: 100%;
    border: solid .5px darkgrey;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: #93E9BE;
    margin-top: 20px;



}



.center {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;

}

.h1 logo {
    margin-right: 10px;
}





.fab {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;

}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
    margin: 0px;


}

.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #DD2A7B;
    color: white;
    border-radius: 50%;
}

.socials li {
    list-style-type: none;
    display: inline;
    margin: auto;
    width: 50%;
    padding-bottom: 15px;

}


.bg-green {
    background-color: #93E9BE;
}

.bg-gray {
    background-color: navy;

}

.head {
    margin-top: 20px;
}

.bg-black {
    background-color: navy;
    height: 100%;
    padding: 70px 0;
    display: block;
    width: 100%;
    text-align: center;
}

h3 {
    padding-top: 10px;
}


.text-color {
    color: #66FCF1;
    margin-right: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
}


@media (min-width: 600px) {
    .nav {
        padding-top: 20px;
        padding-left: 20px;
        margin: 0;
        height: 100%;
        background-color: #93E9BE;
        display: block;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        width: 100%;
        text-align: center;
    }

}

@media (min-width: 600px) {
    .nav li {
        display: inline-block;
        text-decoration: none;
        color: navy;
        height: 100%;
        padding-right: 80px;
        text-align: center;
    }
}

@media (min-width: 600px) {
    .nav li a {
        text-decoration: none;
        font-size: 34px;
        padding-right: 80px;
        text-align: center;
    }
}

@media (min-width: 600px) {
    .nav li a .icon {
        width: 50px;
        height: 50px;
        background-color: navy;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

@media (min-width: 600px) {
    .nav li a .name {
        font-size: 20px;
        text-align: center;
    }
}

@media (min-width: 600px) {
    .nav li a .name .span {

        text-align: center;
        color: navy;
    }
}



/* Mobile style after */
@media (max-width: 500px) {
    .nav {
        padding-top: 20px;
        padding-left: 10px;
        margin: 0;
        height: 100%;
        display: inline-block;
        background-color: #93E9BE;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        width: 100%;

    }
}

@media (max-width: 500px) {
    .nav li {
        display: block;
        text-decoration: none;
        color: navy;
        height: 100%;
        margin-bottom: 20px;
        padding-right: 10px;


    }
}

@media (max-width: 500px) {
    .nav li:not(:last-child) a {

        text-decoration: none;
        display: block;
        border-bottom: .5px solid black;

    }

}

@media (max-width: 500px) {
    .nav li a .icon {
        width: 40px;
        height: 40px;
        padding-top: 5px;
        background-color: navy;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;

    }
}

@media (max-width: 500px) {
    .nav li a .name {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .nav li a .name .span {

        color: navy;
    }
}

@media (max-width: 500px) {
    .slide {
        height: 300px;
        width: 100vw;

    }
}

@media (min-width: 500px) {
    .slide {
        height: 600px;
        width: 100vw;

    }
}

.active {
    text-decoration: underline;

}